body, html {
    height: 100%;
}
.bg {
    /* The image used */
    background-image: url("a.jpg");

    /* Full height */
    width:100%;
    height: 100%;
    position: fixed;
    top:0px;
    left:0px;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


    -webkit-filter: blur(3px);
    filter: blur(3px);
    z-index: -1;
}

.LogInClass{
	background-color: #b3ccff;
	border:solid #b3ccff;
	border-radius: 7px;
	position: relative;
	margin: 100px 200px 200px 440px;
	width: 350px;

}
.sidebar{
	position: fixed;
	top:0px;
	left:0px;
	border: 1px solid;
}
h2 {
     	
    text-align: center;
}
title {
	color: black;
}
a : link{
	color: black;
}
a : visited{
 color:purple;
}
a : hover{
	color: green;
}
a : active{
	color: black;
}
.up{
	position: fixed;
	top: 95%;
	right: 10px;
}
.navbar{
	position: absolute;
	top: 0px;
	background-color: white;
	z-index: 100;
}


/*.title{
	position: absolute;
	height: 125px;
	width: 100%;
	background-color: green;
	
}
*/

