<!DOCTYPE html>
<html>
    <head>
        <title>Home page</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <h1>Hello {{userName}}</h1>
        <div class="sidebar">
        		<a href="{{ url_for('register') }}" >SignUp</a>
        		<a href="{{ url_for('LogIn_page') }}" >LogIn</a>
        		<a class="active" href="{{ url_for('home_page') }}" >Home</a>
                <img src="{{url_for('static', filename='logo.png')}}"  width="152" height="102">
        </div>


    </body>
</html>
