<DOCTYPE! html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{{
	url_for('static' , filename='style.css')}}">

	<title>
	LogIn
	</title>
</head>
<body >
<a name="top"></a>
<button>	<a href="{{ url_for('register') }}" >SignUp</a> </button>
<button><a href="{{ url_for('home_page') }}" >Home</a></button>
<div class="title">
	<h1><center><font>Log In</font></center></h1>
		<h2>
			<center>
				<br/><br/>
 	
			<form  action="/Login" method="post">
						USER NAME:	<input type="text" name="txb_uname" placeholder="User name"><br/><br/>
						PASSWORD:	<input type="password" name="txb_pass" placeholder="password" ><br/><br/>
						<input type="submit" name="btnsubmit" value="submit">
					</form>	
			</center>
		</h2>	
</div>
<div class="container">
<div class="content">
		
</div>	
</div>	
<div class="sidebar">
</div>
<!--	<div class="up">
			<a href="#top">GO UP</a>
	</div>

-->			

			

		
		
		
</body>
</html>
