<DOCTYPE! html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{{
	url_for('static' , filename='style.css')}}">


	       <!-- Required tags to make the website responsive-->
       <meta charset="utf-8">
       <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

       <!-- Add Bootstrap CSS to the page -->
       <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.css') }}">
	<title>
	YOU FIRST
	</title>
</head>
<body class="bg">


<a name="top"></a>



<!--<button><a href="{{ url_for('home_page') }}" >Home</a></button>-->
<div class="title">
	        <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar" href="#"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li id="login_link" class="nav-item active">
        <a class="nav-link" href="{{ url_for('LogIn_page') }}">Log In <span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('register') }}">Sign Up</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('home_page') }}">Home</a>
      </li>
        
    </ul>
  </div>
</nav>

	<div class="LogInClass">
			<center>
				<br/><br/>
			<form  action="/Login" method="post" style="font-size: 20px">
				<h1><center><font>Log In</font></center></h1><br/>
						USER NAME:	<input type="text" name="txb_uname" placeholder="User name"><br/><br/>
						PASSWORD:	<input type="password" name="txb_pass" placeholder="password" ><br/><br/>
						<input type="submit" name="btnsubmit" value="Login">
					</form>	

			</center>
	</div>
</div>
<div class="container">
<div class="content">


		
</div>	
</div>

<div class="sidebar">
</div>
<!--	<div class="up">
			<a href="#top">GO UP</a>
	</div>

-->			

			

       <!-- Add JQuery and Bootstrap JS to the page -->
       <!-- JQuery MUST BE BEFORE BOOTSTRAP -->
       <script src="{{ url_for('static', filename='jquery.js') }}"></script>
       <script src="{{ url_for('static', filename='bootstrap.bundle.js') }}"></script>

		
		
		
</body>
</html>
